---
---

/* oxygen font */
@import url("https://fonts.googleapis.com/css?family=Oxygen:400,300,700");

/* Variables */
$spacing: 14px;
$body-width: 768px;
$blue: #3d79f2;
$teal: #30a7bf;
$dark-teal: #237c8e;
$green: #30bf78;
$yellow: #f4d400;
$light-yellow: #fff280;
$tangerine: #e5ac00;
$orange: #e57339;
$red: #f23d3d;
$pink: #e11d7f;
$purple: #973df2;
$light-gray: #a0a0a0;
$gray: #414141;
$springbg: #D2D3D5;
$near-black: #1a1a1a;
$header-bg: $springbg;

@import "grid";
@import "main";
@import "header";
@import "nav";
@import "footer";
@import "articles";
@import "queries";
