/* Mod Stylesheet */
/*  Base Typography
============================ */

a, a:visited {
  color: #00AAA4;
  text-decoration: none;
}
  a:hover, a:active {
    text-decoration: underline;
  }
h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
  h1, h1 a, h1 a:visited {
    color: #FF0051;
  }
  h2, h2 a, h2 a:visited {
    color: #FF4D00;
  }
  h3, h3 a, h3 a:visited {
    color: #FFBF00;
  }
  h4, h5, h6,
  h4 a, h5 a, h6 a {
    color: #75AB00;
  }

/* ============================
Main Menu
=============================== */
nav ul, nav li {
  list-style: none;
  white-space: nowrap;
}
nav ul li ul {
  display: none;
  position: absolute;
  padding: 0;
  top: 3em;
  left: 0;
}
nav ul li:hover ul {
  display: block;
}
nav li {
  background: white;
  display: inline-block;
  padding: 1em;
  position: relative;
}
nav li:hover {
  background: whitesmoke;
}
nav ul li ul li {
  float: left;
}

.geometric {
  width: 100%;
  height: 100%;
  position: absolute;
}
.shape {
  width: 71px;
  height: 71px;
  position: absolute;
  overflow: hidden;
  transform: rotate(45deg);
  /*border: 1px solid white;*/
}
.shape span {
  background-image: url(/images/blue-field-1600.jpg);
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  margin: -14px auto auto -15px;
  transform: rotate(-45deg);
  opacity: 0.5;
}
.shape.one {  left: 50px;  top: 500px;}
.shape.one span { -webkit-filter: blur(1px) invert(0.2);}
.shape.two {  left: 100px;  top: 550px;}
.shape.two span { -webkit-filter: blur(2px) brightness(1.2);}
.shape.three {  left: 150px;  top: 600px;}
.shape.three span { -webkit-filter: blur(0px); background-color: #8189a0; background-blend-mode: multiply;}
.shape.four {  left: 200px;  top: 650px;}
.shape.four span { background-color: #D2D2D2; background-blend-mode: lighten; }
.shape.five {  left: 400px;  top: 650px;}
.shape.five span { -webkit-filter: blur(1px) brightness(1.2);}
.shape.six {  left: 200px;  top: 550px;}
.shape.six span { -webkit-filter: blur(2px) invert(0.2);}
.shape.seven {  left: 250px;  top: 600px;}
.shape.seven span { -webkit-filter: blur(0.5px) contrast(2);}
.shape.eight {  left: 250px;  top: 500px;}
.shape.eight span { -webkit-filter: blur(1px) contrast(2);}
.shape.nine {  left: 300px;  top: 550px;}
.shape.nine span { -webkit-filter: blur(1px) saturate(1.5);}
.shape.ten {  left: 350px;  top: 600px;}
.shape.ten span { -webkit-filter: blur(2px) contrast(2);}
.shape.eleven {  left: 50px;  top: 600px;}
.shape.eleven span {-webkit-filter: blur(1px)  saturate(1.5);}
.shape.twelve {  left: 100px;  top: 650px;}
.shape.twelve span {-webkit-filter: blur(1px) contrast(1.1);}
