/* This is my CSS file for my DevBootcamp index page. */
html,body {
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  font-family: 'Numans', sans-serif;
  letter-spacing: -0.3px;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
}
a, a:visited {
  color: #1abcdc;
  text-decoration: none;
}
header,nav,main,footer {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 3em;
}
main,footer {
  padding-left: 12em;
}
main section, main aside, footer img, footer aside {
  display: inline-block;
  vertical-align: top;
}
main section {
  width: 65%;
  margin-right: 3%;
}
main aside {
  width: 30%;
}

header {
  background: #FF0051;
  color: whitesmoke;
  margin-top: 3em;
  text-align: center;
}
header a, header a:visited {
  color: whitesmoke;
}
article {
  overflow: auto;
  margin-bottom: 3em;
}
section img {
  float: right;
  width: 10em;
}
aside img {
  width: 3em;
  float: left;
}
footer {
  background: #00AAA4;
  color: whitesmoke;
  margin: 3em 0;
}
footer img {
  width: 20%;
  margin-right: 5%;
}

footer aside {
  width: 65%;
}

h2 {
color: #FFBF00;
}
.meta {
  color: silver;
  margin: 0;
}

nav ul, nav li {
  list-style: none;
  white-space: nowrap;
}
nav ul li ul {
  display: none;
  position: absolute;
  padding: 0;
  top: 3em;
  left: 0;
}
nav ul li:hover ul {
  display: block;
}
nav li {
  background: white;
  display: inline-block;
  padding: 1em;
  position: relative;
}
nav li:hover {
  background: whitesmoke;
}
nav ul li ul li {
  float: left;
}