/* This is my CSS file for my DevBootcamp index page. */
html,body {
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  font-family: 'Numans', sans-serif;
  letter-spacing: -0.3px;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
}
a, a:visited {
  color: #1abcdc;
  text-decoration: none;
}



header {
  background: #FF0051;
  color: whitesmoke;
  margin-top: 3em;
  text-align: center;
}
header a, header a:visited {
  color: whitesmoke;
}


h2 {
color: #FFBF00;
}
.meta {
  color: silver;
  margin: 0;
}

