

/* ==========================================================================
   Modern Stylesheet
   Author: Jan Dennison
   Created: July 2013
   ========================================================================== */

/*  Basics
    ============================ */
body {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  color: #666;
  /*font-family: 'Numans', sans-serif;*/
  font-family: 'Average', serif;
  margin: 0;
}

.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
.float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.float-center {
  clear: both;
  margin: 0 auto;
  display: block;
}

/*  Base Typography
    ============================ */
p {
  font-size: 1.15em;
  line-height: 1.5em;
}
a, a:visited {
  color: #6688CC;
  text-decoration: none;
}
  a:hover, a:active {
    text-decoration: underline;
  }
h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
  h1, h1 a, h1 a:visited {
    color: #777799;
  }
  h2 {
    letter-spacing: 3px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    color: #818ba4;
    border-bottom: 2px solid #818ba4;
    padding-bottom: 6px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  h2 a, h2 a:visited {
    color: #818ba4;
  }
  h2 a:hover {
    text-decoration: none;
  }
  h3 {
    text-align: center;
    font-size: 1.5em;
    color: #313131;
  }
  h3 a, h3 a:visited {
    color: #313131;
  }
  h4, h5, h6,
  h4 a, h5 a, h6 a {
    color: #313131;
  }
  h4 {
    color: #818ba4;
    margin-top: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
/* Special Typography */
header a, header a:visited {
  color: whitesmoke;
}
header a:hover, nav a:hover {
  text-decoration: none;
}
header h1 {
  margin-top: 35%;
  font-size: 3em;
  /* mix-blend-mode: screen; */
}
.post header h1, .page header h1 {
  margin-top: 15%;
  font-size: 3em;
  mix-blend-mode: screen;
}
.meta {
  font-size: 0.9em;
  color: #6E7881;
  display: block;
  text-align: center;
}
.teasers h5 {
  font-size: 1em;
  margin-top: 1em;
}
.teasers .meta {
  font-size: 0.8em;
}
.post article h1 {
  color: #313131;
  text-align: center;
  font-size: 2em;
}
.post article h4 {
  margin-top: 1.5em;
}
.post .meta {
  margin-bottom: 3em;
}

/*  Containers
    ============================ */
html, body {
  height: 100%;
}
header,nav,.container,footer {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 1em;
  text-align: center;
}
.container,footer {
  overflow: auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container section, .container aside, footer img, footer aside {
  display: inline-block;
  vertical-align: top;
}
.container section {
  width: 100%;
}
.container aside {
  width: 100%;
}
.container aside section {
  display: inline-block;
  width: auto;
}
header {
  background: #FF0051;
  background: url(/images/blue-field-1600.jpg);
/*  background-size: cover;*/
  color: whitesmoke;
  text-align: center;
  margin-top: 0;
  height: 100%;
  max-height: 450px;
  position: relative;
  overflow: hidden;
}
.page header, .post header {
  max-height: 50%;
}
article {
  overflow: auto;
  margin-top: 3em;
  padding: 1em 2em;
}
.home article {
  background: #f4f3f2;
}
.page article p, .post article p {
  text-align: left;
}
#intro, footer {
  background: #8189a0;
  color: whitesmoke;
  margin: 3em 0;
  overflow: auto;
}
#intro {
  margin: 0;
  padding: 1em;
}
#intro h3 {
  color: whitesmoke;
}
#intro img {
  float: left;
}
footer img {
  width: 20%;
  margin-right: 5%;
}

footer aside {
  width: 65%;
}


#view-all-entries {
  margin-top: 3em;
}
/* ============================
Main Menu
=============================== */
nav {
    padding: 0;
    font-size: 0.8em;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul, nav li {
  list-style: none;
  white-space: nowrap;
}
nav .expanded {
  display: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  padding: 0;
  top: 3em;
  left: 0;
}
nav ul li:hover ul, nav ul li:focus ul {
  display: block;
}
nav li {
  background: white;
  display: inline-block;
  padding: 1em;
  position: relative;
}
nav li:hover {
  background: #818ba4;
}
nav ul li ul li {
  float: left;
}
nav {
    position: absolute;
    top: 0;
    margin-left: -1em;
    z-index: 10;
}
nav li {
    background: transparent;
    color: white;

    text-shadow: 0 1px 0px #666;
}
nav a {
    color: white;
}

#works ul {
  list-style: none;
}
#works li {
  padding: 0.5em;
  text-align: left;
  background: #D6DAE3;
  margin-bottom: .2em;
}
#works h5 {
  font-size: 1em;
  margin: 0;
}
/**
  Images
**/
img {
  max-width: 100%;
  padding: 1em;
  border: 1px solid #c7c2b3;
}
img.noborder {
  max-width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}


.swatch {
  max-height: 50px;
  max-width: 50px;
  margin: 5px;
}

.swatch.active {
  border: 1px solid #FF0051;
}
  .featuredthumb img, .teaserthumb img, .swatch img {
    min-height: 100%;
    padding: 0;
    margin: 0;
  }

article.featured-post {
  position: relative;
}
.featured-post:before, .featured-post:after,
.teaser:before, .teaser:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
}
.featured-post:before, .teaser:before {
    top: 0;
    left: 0;
    border-left: 40px solid white;
    border-bottom: 40px solid transparent;
}
.featured-post:after, .teaser:after {
  border-right: 40px solid white;
  border-top: 40px solid transparent;
  bottom: 0;
  right: 0;
}
.teaser:before, .teaser:after {
  border-width: 20px;
}

.post-main-img {
  max-width: 100%;
  width: 99%;
}
.teaser {
  background: #f4f3f2;
  padding: 0.5em 1em 1em;
  position: relative;
  margin-bottom: 0.2em;
}

  .teaser .focal-point {
    overflow: hidden;
  }
  .teasers .post-thumb-img {
      width: 99%;
    }

code {
  background: #ddd;
  padding: 0.25em 0.5em;
  border: 1px solid silver;
}
pre code {
  background: #ddd;
  padding: 1em;
  line-height: 1.5em;
  word-wrap:break-word;
  border: 1px solid silver;
  display: block;
  text-align: left;
}


/**
  Social Icons
**/
 footer a.social {
  color: #f4f3f2;
 }
 footer a.social:hover {
  text-decoration: none;
  color: whitesmoke;
 }

/**
  Post Styles
**/

.newbie {
  display: block;
  width: 100%;
  background: #fff;
  padding: 0.5em 1em;
}

.toc {
  display: inline-block;
  float: right;
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: right;
  width: 30%;
}
  .toc h1, .toc h2, .toc h3, .toc h4, .toc h5, .toc h6 {
    font-size: 0.8em;
  }

/**
  Portfolio
**/

.portfolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.frame {
  width: 228px;
  height: 296px;
  padding: 11px 14px;
  float: left;
  margin: 0;
  display: none;
}
  .frame:after {
    display: block;
    content: "";
    background: url(../portfolio/verisimilitude-sylva/img/frame.png) no-repeat;
    width: 228px;
    height: 296px;
    position: relative;
    top: -290px;
    left: -14px;
  }
#sylva img {
  width: 197px;
  height: 275px;
}

#wanderlust .focal-point {
  height: 200px;
  width: 200px;
}
#wanderlust li {
  float: left;
  margin: 10px;
}

/* Extras */
.geometric {
  width: 100%;
  height: 100%;
  position: absolute;
}
.shape {
  width: 71px;
  height: 71px;
  position: absolute;
  overflow: hidden;
  transform: rotate(45deg);
  /*border: 1px solid white;*/
}
.shape span {
  background-image: url(/images/blue-field-1600.jpg);
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  margin: -14px auto auto -15px;
  transform: rotate(-45deg);
  opacity: 0.5;
}
.shape.one {  left: 50px;  top: 500px;}
.shape.one span { -webkit-filter: blur(1px) invert(0.2);}
.shape.two {  left: 100px;  top: 550px;}
.shape.two span { -webkit-filter: blur(2px) brightness(1.2);}
.shape.three {  left: 150px;  top: 600px;}
.shape.three span { -webkit-filter: blur(0px); background-color: #8189a0; background-blend-mode: multiply;}
.shape.four {  left: 200px;  top: 650px;}
.shape.four span { background-color: #D2D2D2; background-blend-mode: lighten; }
.shape.five {  left: 400px;  top: 650px;}
.shape.five span { -webkit-filter: blur(1px) brightness(1.2);}
.shape.six {  left: 200px;  top: 550px;}
.shape.six span { -webkit-filter: blur(2px) invert(0.2);}
.shape.seven {  left: 250px;  top: 600px;}
.shape.seven span { -webkit-filter: blur(0.5px) contrast(2);}
.shape.eight {  left: 250px;  top: 500px;}
.shape.eight span { -webkit-filter: blur(1px) contrast(2);}
.shape.nine {  left: 300px;  top: 550px;}
.shape.nine span { -webkit-filter: blur(1px) saturate(1.5);}
.shape.ten {  left: 350px;  top: 600px;}
.shape.ten span { -webkit-filter: blur(2px) contrast(2);}
.shape.eleven {  left: 50px;  top: 600px;}
.shape.eleven span {-webkit-filter: blur(1px)  saturate(1.5);}
.shape.twelve {  left: 100px;  top: 650px;}
.shape.twelve span {-webkit-filter: blur(1px) contrast(1.1);}


/* DBC BLOG STYLES
  ****************/
.dbc-blog h3, .dbc-blog h4, .dbc-blog p {
  margin: 0.5em 0;
  width: 100%;
}
article.dbc-blog p {
  text-align: center;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Large screen */
@media only screen and (min-width: 960px) {
  header {
    max-height: 100%;
  }
    header h1 {
        font-size: 5em;
    }
    nav .expanded {
      display: block;
    }
    nav .short {
      display: none;
    }
    .container, footer {
        padding: 1em 3em;
    }
    .home article {
        padding: 3em;
    }
    .container p, .footer p {
      text-align: left;
    }
    #intro {
      margin: 0;
      padding: 1em;
    }
    .column-me h2, .column-me h4 {
      float: left;
    }
    .column-me div, .column-me article {
      width: 70%;
      float: right;
    }
    .column-me h2 {
      margin-top: 2em;
    }
    .container aside section {
      width: 45%;
      display: inline-block;
      float: left;
    }
    .container aside section:nth-child(2) {
      margin-left: 10%;
    }
    .sidebar {
      margin-top: 3em;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
