---
---
/* ==========================================================================
   HTML5 Boilerplate Minified
   ========================================================================== */
html,button,input,select,textarea{color:#000}body{font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:150%}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix{clear:both;}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}
body,div,ul,li,span,a {box-sizing: border-box;}
/* ==========================================================================
   Twitter Bootstrap Responsive Grid
   ========================================================================== */
.row-fluid {
    width: 100%;
    *zoom: 1;
}
.row-fluid:before, .row-fluid:after {
    display: table;
    line-height: 0;
    content: ""}
.row-fluid:after {
    clear: both;
}
[class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.span12 {
    width: 100%;
    *width: 99.94680851063829%}
.span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%}
.span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%}
.span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%}
.span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%}
.span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%}
.span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%}
.span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%}
.span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%}
.span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%}
.span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%}
.span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%}
/* ==========================================================================
   Focal Point: Pure HTML/CSS Adaptive Images Framework
   ========================================================================== */
/*! *  Focal Point: Pure HTML/CSS Adaptive Images Framework*  Author: Adam Bradley, 2012*  License: MIT/GPLv2*  https://github.com/adamdbradley/focal-point*  http://www.cdnconnect.com/*/

.focal-point {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.focal-point img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.focal-point div {
    position: relative;
    max-width: none;
    height: auto;
}

/* 4x3 Landscape Shape (Default) */
    .focal-point div {
        margin: -3em -4em;
    }

    /* Landscape down (Total 6em) */
    .down-1 div {
        margin-top:    -3.5em;
        margin-bottom: -2.5em;
    }
    .down-2 div {
        margin-top:    -4em;
        margin-bottom: -2em;
    }
    .down-3 div {
        margin-top:    -4.5em;
        margin-bottom: -1.5em;
    }
    .down-4 div {
        margin-top:    -5em;
        margin-bottom: -1em;
    }
    .down-5 div {
        margin-top:    -5.5em;
        margin-bottom: -0.5em;
    }
    .down-6 div {
        margin-top:    -6em;
        margin-bottom: 0;
    }

    /* Landscape up (Total 6em) */
    .up-1 div {
        margin-top:    -2.5em;
        margin-bottom: -3.5em;
    }
    .up-2 div {
        margin-top:    -2em;
        margin-bottom: -4em;
    }
    .up-3 div {
        margin-top:    -1.5em;
        margin-bottom: -4.5em;
    }
    .up-4 div {
        margin-top:    -1em;
        margin-bottom: -5em;
    }
    .up-5 div {
        margin-top:    -0.5em;
        margin-bottom: -5.5em;
    }
    .up-6 div {
        margin-top:    0;
        margin-bottom: -6em;
    }

    /* Landscape right (Total 8em) */
    .right-1 div {
        margin-left:  -4.66em;
        margin-right: -3.34em;
    }
    .right-2 div {
        margin-left:  -5.33em;
        margin-right: -2.67em;
    }
    .right-3 div {
        margin-left:  -6em;
        margin-right: -2em;
    }
    .right-4 div {
        margin-left:  -6.66em;
        margin-right: -1.34em;
    }
    .right-5 div {
        margin-left:  -7.33em;
        margin-right: -0.67em;
    }
    .right-6 div {
        margin-left:  -8em;
        margin-right: 0;
    }

    /* Landscape left (Total 8em) */
    .left-1 div {
        margin-left:  -3.34em;
        margin-right: -4.66em;
    }
    .left-2 div {
        margin-left:  -2.67em;
        margin-right: -5.33em;
    }
    .left-3 div {
        margin-left:  -2em;
        margin-right: -6em;
    }
    .left-4 div {
        margin-left:  -1.34em;
        margin-right: -6.66em;
    }
    .left-5 div {
        margin-left:  -0.67em;
        margin-right: -7.33em;
    }
    .left-6 div {
        margin-left:  0;
        margin-right: -8em;
    }


    /* 3x4 Portrait Shape */
    .focal-point.portrait div {
        margin: -4em -3em;
    }

    /* Portrait down (Total 8em) */
    .portrait.down-1 div {
        margin-top:    -4.66em;
        margin-bottom: -3.34em;
    }
    .portrait.down-2 div {
        margin-top:    -5.33em;
        margin-bottom: -2.67em;
    }
    .portrait.down-3 div {
        margin-top:    -6em;
        margin-bottom: -2em;
    }
    .portrait.down-4 div {
        margin-top:    -6.66em;
        margin-bottom: -1.34em;
    }
    .portrait.down-5 div {
        margin-top:    -7.33em;
        margin-bottom: -0.67em;
    }
    .portrait.down-6 div {
        margin-top:    -8em;
        margin-bottom: 0;
    }

    /* Portrait right (Total 6em) */
    .portrait.right-1 div {
        margin-left:  -3.5em;
        margin-right: -2.5em;
    }
    .portrait.right-2 div {
        margin-left:  -4em;
        margin-right: -2em;
    }
    .portrait.right-3 div {
        margin-left:  -4.5em;
        margin-right: -1.5em;
    }
    .portrait.right-4 div {
        margin-left:  -5em;
        margin-right: -1em;
    }
    .portrait.right-5 div {
        margin-left:  -5.5em;
        margin-right: -0.5em;
    }
    .portrait.right-6 div {
        margin-left:  -6em;
        margin-right: 0;
    }

    /* Portrait up (Total 8em) */
    .portrait.up-1 div {
        margin-top:    -3.34em;
        margin-bottom: -4.66em;
    }
    .portrait.up-2 div {
        margin-top:    -2.67em;
        margin-bottom: -5.33em;
    }
    .portrait.up-3 div {
        margin-top:    -2em;
        margin-bottom: -6em;
    }
    .portrait.up-4 div {
        margin-top:    -1.34em;
        margin-bottom: -6.66em;
    }
    .portrait.up-5 div {
        margin-top:    -0.67em;
        margin-bottom: -7.33em;
    }
    .portrait.up-6 div {
        margin-top:    0;
        margin-bottom: -8em;
    }

    /* Portrait left (Total 6em) */
    .portrait.left-1 div {
        margin-left:  -2.5em;
        margin-right: -3.5em;
    }
    .portrait.left-2 div {
        margin-left:  -2em;
        margin-right: -4em;
    }
    .portrait.left-3 div {
        margin-left:  -1.5em;
        margin-right: -4.5em;
    }
    .portrait.left-4 div {
        margin-left:  -1em;
        margin-right: -5em;
    }
    .portrait.left-5 div {
        margin-left:  -0.5em;
        margin-right: -5.5em;
    }
    .portrait.left-6 div {
        margin-left:  0;
        margin-right: -6em;
    }

/* ==========================================================================
   Modern Stylesheet
   Author: Jan Dennison
   Created: July 2013
   ========================================================================== */

/*  Basics
    ============================ */
body {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  color: #222;
  font-family: 'Numans', sans-serif;
  letter-spacing: -0.3px;
  margin: 0;
}

.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
.float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.float-center {
  clear: both;
  margin: 0 auto;
  display: block;
}

/*  Typography
    ============================ */
a, a:visited {
  color: #00AAA4;
  text-decoration: none;
}
  a:hover, a:active {
    text-decoration: underline;
  }
h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
  h1, h1 a, h1 a:visited {
    color: #FF0051;
  }
    header h1 {
      color: white;
      text-align: center;
      font-size: 5.0em;
      margin: 1em 0;
      opacity: 0.5;
      position: relative;
    }
    header h1 a, header h1 a:visited {
      color: white;
    }
      .home header h1 {
        margin: 1em 0;
      }
    header a:hover, header a:active {
      text-decoration: none;
    }
    header p { /*subtitle*/
      font-size: 0.4em;
      margin: 0;
      padding-bottom: 0.5em;
    }
  h2, h2 a, h2 a:visited {
    color: #FF4D00;
  }
  h3, h3 a, h3 a:visited {
    color: #FFBF00;
  }
  h4, h5, h6,
  h4 a, h5 a, h6 a {
    color: #75AB00;
  }
.teasers h4 {
  margin: 0.5em 0 0 0;
}
  .teasers p {
    margin: 0;
  }

.meta {
  font-size: 0.8em;
  color: gray;
}


/*  Containers
    ============================ */
.container {
  margin: 2em 0;
  width: 100%;
}
.container-overlay {
  margin: 0;
	padding-top: 4em;
	padding-bottom: 4em;
  width: 100%;
  height: 100%;
}

header {
  background: #FF0051;
}
.content-wrap {
  margin: 0px auto;
  max-width: 1000px;
}

.home-wrap, .page-wrap, .post-wrap, .gallery-wrap {
  margin: 2em;
}
  .gallery {
    width: auto;
    margin: 0 auto;
  }
.post-wrap section {
  margin: 2em 0;
}
.sidebar {
  float: right;
}

.featured-post {
  margin-bottom: 2em;
}

.teaser {
  margin-bottom: 2em;
}

/* ============================
Main Menu
=============================== */
.main-menu-nav {
  display: block;
  margin-top: -3em;
}

  .main-menu-nav ul {
      z-index: 999999;
      padding: 0;
      display: block;
      list-style: none;
      vertical-align: middle;
      float: right;
  }
  .main-menu-nav ul > li {
    float: left;
    position: relative;
    min-width: 50px;
    padding: 0;
    margin: 0em 0 1em 0;
    border-right: 1px solid #eee;
    margin-right: 1em;
  }
  .main-menu-nav ul > li a, .main-menu-nav ul > li {
    color: #1abcdc;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin-right: 1em;
    position: relative;
    padding: .5em 0em .5em 0;

  }
  .main-menu-nav a:hover {
    color: white;
  }
  .main-menu-nav ul > li:hover > ul {
    opacity: 10;
    filter: alpha(opacity=100);
    visibility: visible;
  }
  .main-menu-nav ul > li:hover > a {
    color: #545454;
  }

  /* Second Level Dropdown */
  .main-menu-nav ul > li ul {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    background: white;
    position: absolute;
    width: 100px;
    left: -1em;
    top: 1.5em;
  }
  .main-menu-nav ul > li ul li {
    float: none;
    white-space: nowrap;
    min-width: 50px;
    border-bottom: 1px solid #eee;
    border-right: 0px;
    padding: .5em .5em .5em 0;
    position: relative;
    margin: 0;
  }
  .main-menu-nav ul > li ul li a {
    padding: 0 1em;
    margin-right: 0;
  }

  /* Third Level  Dropdown*/
  .main-menu-nav ul > li ul li ul {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    position: absolute;
    left: 100%;
    top: -0.5em;
  }
  .main-menu-nav ul > li ul li ul li {
    border-left: 1px solid #eee;
  }

/**
  Images
**/
img {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #c7c2b3;
}
img.noborder {
  max-width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}
.featuredthumb, .teaserthumb, .swatch {
  max-height: 200px;
}

.swatch {
  max-height: 50px;
  max-width: 50px;
  margin: 5px;
}

.swatch.active {
  border: 1px solid #FF0051;
}
  .featuredthumb img, .teaserthumb img, .swatch img {
    min-height: 100%;
    padding: 0;
    margin: 0;
  }

.post-main-img {
  max-width: 100%;
  width: 99%;
}

.teasers {
  margin-bottom: 1em;
}
  .teaser .focal-point {

    overflow: hidden;
  }
  .teasers .post-thumb-img {
      width: 99%;
    }

pre {
  background: gray;
  color: white;
  padding: 1em;
  word-wrap:break-word;
}

/**
  Social Icons
**/

.social.pinterest {
  display: inline-block;
  background: transparent url('/images/pinterest.png') no-repeat;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  padding: 0 0 0 35px;
}

/**
  Post Styles
**/

.newbie {
  display: block;
  width: 100%;
  background: #fff;
  padding: 0.5em 1em;
}

.toc {
  display: inline-block;
  float: right;
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: right;
  width: 30%;
}
  .toc h1, .toc h2, .toc h3, .toc h4, .toc h5, .toc h6 {
    font-size: 0.8em;
  }

/**
  Portfolio
**/

.portfolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.frame {
  width: 228px;
  height: 296px;
  padding: 11px 14px;
  float: left;
  margin: 0;
  display: none;
}
  .frame:after {
    display: block;
    content: "";
    background: url(../portfolio/verisimilitude-sylva/img/frame.png) no-repeat;
    width: 228px;
    height: 296px;
    position: relative;
    top: -290px;
    left: -14px;
  }
#sylva img {
  width: 197px;
  height: 275px;
}

#wanderlust .focal-point {
  height: 200px;
  width: 200px;
}
#wanderlust li {
  float: left;
  margin: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
