---
layout: "default"
title: "Jan Dennison | Front End Developer"
meta-description: "Web development portfolio blog by Jan Dennison"
meta-robots: "noodp, noydir"
---
<section class="">
  <h1>Writings on Web Development</h1>
  {% for post in site.posts %}
    {% if post.categories contains 'dbc' %}
    <article class="featured-post dbc-blog">
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      {{ post.meta-description }}
    </article><!-- end row -->
    {% else %}
    <article class="featured-post">
      <h3> <a href="{{ post.url }}" rel="bookmark" title="Permanent link to {{ post.title }}">{{ post.title }}</a> </h3>
      <span class="meta"> {{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }} </span>
      <p> {{ post.meta-description }} </p>
    </article><!-- end row -->
    {% endif %}
  {% endfor %}
</section>