{% for post in site.posts %}
  {% if post.categories contains 'project' %}
  <article class="featured project">
    <a class="post-img" href="{{ post.url }}" rel="bookmark" title="Link to {{ post.title }}"><img src="{{ post.image }}" alt="Sample of {{ post.title }}"></a>
    <h3 class="bold subtitle">{{ post.title }}</h3>
    <p>{{ post.meta-description }}</p>
  </article>
  {% endif %}
{% endfor %}
<article class="featured-project">

</article>
<article class="featured-project">
  <h3 class="bold">Prototype Responsive Integration for Abercrombie &amp; Fitch</h3>
  <span class="meta"></span>
  <p></p>
</article>
<article class="featured-project">
  <h3 class="bold"><a href="{{ post.url }}" rel="bookmark" title="Link to project">Pokédecks Flash Card Game</a></h3>
  <span class="meta"></span>
  <p>I was on a team that built this project over a weekend as practice with complex modeling and associations in a database. We implemented a full Agile workflow with frequent standups and peer-pairing, task tracking and review, and a team retro. I implemented the UI as well as vertical slices for user CRUD and some game play.</p>
  <p>Built with: Ruby, Rails, CSS</p>
  <p><a href="https://github.com/MaryCBaylis/TEAM-ROCKET-flash-cards" title="Pokedecks Github repo">See it on GitHub</a></p>
</article>
<article class="featured-project">
  <h3 class="bold"><a href="{{ post.url }}" rel="bookmark" title="Link to project">{{ post.title }}</a></h3>
  <span class="meta"></span>
  <p></p>
</article>
