{% assign featuredprojects = site.projects | order: path | where: "categories" , "featured") %}
{% assign featuredprojects = featuredprojects | reverse %}
{% for project in featuredprojects limit:2  %}
  <article class="featured project">
    <a class="post-img" href="{{ project.url }}" rel="bookmark" title="Link to {{ project.title }}"><img src="{{ project.image }}" alt="Sample of {{ project.title }}"></a>
    <a href="{{ project.url }}" class="featured-text">
      <h3 class="bold subtitle">{{ project.title }}</h3>
      <p>{{ project.meta-description }}</p>
    </a>
  </article>
{% endfor %}
