<footer>
<a class="icon-twitter social" href="http://twitter.com/jannypie"><span class="accessible">Twitter</span></a> <a class="icon-github social" href="http://github.com/jannypie"><span class="accessible">GitHub</span></a> <a class="icon-linkedin social" href="http://linkedin.com/in/jldennison/"><span class="accessible">LinkedIn</span></a>
</footer>

<div id="preloader"></div>
<!-- The jQuery and scripts -->
<script type="text/javascript" src="/js/jquery-ui/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- Highlight Code Syntax -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>