<footer id="intro">
  <img src="images/janstache.png" alt="Janstache">
  <aside>
    <h3>Why, hello there</h3>
    <p class="excerpt">Lorizzle ipsum bling bling sit amizzle, consectetuer adipiscing elit. Nizzle sapien velizzle, bling bling volutpat, suscipit , gravida vel, arcu. Check it out hizzle that's the shizzle. We gonna chung erizzle. Fo izzle dolor fo turpis tempizzle tempor. Gangsta boom shackalack mofo et turpizzle. Sizzle izzle tortor. Pellentesque uhuh ... yih!</p>
  </aside>
</footer>

<!-- The jQuery and scripts -->
<script type="text/javascript" src="/js/jquery-ui/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

