<!--
                 , ,
_________,   ___/ /  ,__________
 )__   /(    `-, )    )\    __(
    )_/ |\____/ /____/| \__(
     / \|____    _____|/ \
        '    )  )     '
            ( (
             ))
            ((  HERE BE DRAGONS
             ``_,
 -->
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Jan Dennison">
<meta name="robots" content="{{ page.meta-robots }}" />
<meta name="description" content="{{ page.meta-description }}" />
<link rel="canonical" href="{{ page.url | canonical }}" />
<link rel="shortcut icon" href="favicon.ico">

<!-- Stylesheets -->
<link href="/css/normalize.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">

<!-- Link placeholder to change stylesheets -->
<link class="style" href="#" rel="stylesheet">

<!-- Fonts -->
<link rel="stylesheet" href="/css/fontello.css">

<!-- Highlight Code Syntax -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
