<header class="header fadeIn me">
  <h1 class="title">
      <a href="{{ site.url }}" rel="bookmark" title="Website for Jan Humphries">Jan <span class="me_lastname">Humphries</span></a>
    </h1>
  <p class="me_title light-text">Front-End &amp; UX Developer</p>
  <h2 class="subtitle">I make web things <span class="me_colon">:</span></h2>
  <p class="copy me_desc">
    Web developer comfortable in the whole stack, specializing in Front-End and UX. Experience ranges from designing wireframes through prototyping, development, testing, and deployment. <a href="https://www.girldevelopit.com/chapters/columbus" target="_blank">Girl Develop It</a>    teacher, mentor, speaker, open source contributor, passionate community builder.</p>
</header>
