<!--
                 , ,
_________,   ___/ /  ,__________
 )__   /(    `-, )    )\    __(
    )_/ |\____/ /____/| \__(
     / \|____    _____|/ \
        '    )  )     '
            ( (
             ))
            ((  HERE BE DRAGONS
             ``_,
 -->
<meta charset="utf-8">
<!-- Instruct Internet Explorer to use its latest rendering engine -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- Viewport for responsive web design -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.meta-description }}" />
<meta name="author" content="Jan Dennison Humphries">
<meta name="robots" content="{{ page.meta-robots }}" />
<link rel="canonical" href="{{ page.url | canonical }}" />
<link rel="shortcut icon" href="favicon.ico">

<!-- Stylesheets -->
<link href="/css/normalize.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">

<!-- Link placeholder to change stylesheets -->
<link class="style" href="#" rel="stylesheet">

<!-- Fonts -->
<link rel="stylesheet" href="/css/icomoon.css">
