<header class="header fadeIn me">
  <h1 class="title">
      <a href="{{ site.url }}" rel="bookmark" title="Website for Jan Humphries">Jan <span class="me_lastname">Humphries</span></a>
    </h1>
  <p class="me_title light-text">Front-End &amp; UX Developer</p>
  <h2 class="subtitle">I make web things <span class="me_colon">:</span></h2>
  <p class="copy me_desc">
    Web developer comfortable in the whole stack, with special focus on the Front-End, UX/UI, accessibility and performance. Experienced in app development from designing wireframes through prototyping, development, testing, and deployment. Teacher of JavaScript
    and Accesibility to women as part of Girl Develop It. Mentor, open source contributor, passionate community builder.</p>
</header>
