<div class="hexagonal-menu">
  <ul class="hexagonal">
    <!-- row 1 -->
    <li class="spacer"></li>
    <li>
      <div>
        <a href="{{ site.url }}/blog">
          <h4>DevBootcamp Blog</h4>
        </a>
      </div>
    </li>
    <li>
      <div>
        <h4>Web Works</h4>
        <ul>
          <li><a href="http://codepen.io/jannypie/pen/kbdDg" title="Taj Majal code sample on codepen">Pure CSS Taj Mahal</a></li>
          <li><a href="http://codepen.io/jannypie/pen/lFysn" title="Bridge code sample on codepen">Pure CSS Golden Gate</a></li>
          <li><a href="http://codepen.io/jannypie/pen/DcHdo" title="Quizzie in CSS/JS">Quizzie in CSS/JS</a></li>
          <li><a href="{{ site.url }}/cheat-sheet.html" title="JSON Cheat Sheet">JSON Cheat Sheet</a></li>
        </ul>
      </div>
    </li>
    <!-- row 2 -->
    <li class="spacer"><div></div></li>
    <li>
      <div>
        <h4>Art Works:</h4>
        <ul>
          <li><a href="{{ site.url }}/art-portfolio/verisimilitude-sylva/">Verisimilitude Sylva</a></li>
          <li><a href="{{ site.url }}/art-portfolio/wanderlust/">Wanderlust</a></li>
        </ul>
      </div>
    </li>
    <li class="spacer"></li>
    <!-- row 3 -->
    <li class="spacer"></li>
    <li class="spacer"><div></div></li>
    <li class="spacer"></li>
    <!-- row 4 -->
    <li class="spacer"></li>
    <li class="spacer"><div></div></li>
    <li class="spacer"></li>
    <!-- row 5 -->
    <li class="spacer"></li>
    <li class="spacer"><div></div></li>
    <li class="spacer"><div></div></li>

</ul>
</div>