<nav>
  <ul class="short">
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#writings">Writings</a></li>
    <li><a href="#works">Works</a></li>
  </ul>
  <ul class="expanded">
    <li><a href="/#intro">Introduction</a></li>
    <li><a href="{{ site.url }}/blog">DevBootcamp Blog</a></li>
    <li>Web Portfolio:
      <ul>
        <li>To come</li>
      </ul>
    </li>
    <li>Art Portfolio:
      <ul>
        <li><a href="/portfolio/verisimilitude-sylva/">Verisimilitude Sylva</a></li>
        <li><a href="/portfolio/wanderlust/">Wanderlust</a></li>
      </ul>
    </li>
  </ul>
</nav>