<nav>
  <ul class="short">
    <li><a href="http://jannypie.github.io#intro">Introduction</a></li>
    <li><a href="http://jannypie.github.io#writings">Writings</a></li>
    <li><a href="http://jannypie.github.io#works">Works</a></li>
  </ul>
  <ul class="expanded">
    <li><a href="/#intro">Introduction</a></li>
    <li><a href="{{ site.url }}/blog">DevBootcamp Blog</a></li>
    <li>Web Works:
      <ul>
        <li><a href="http://codepen.io/jannypie/pen/kbdDg" title="Taj Majal code sample on codepen">Pure CSS Taj Mahal</a></li>
        <li><a href="http://codepen.io/jannypie/pen/lFysn" title="Bridge code sample on codepen">Pure CSS Golden Gate</a></li>
        <li><a href="http://codepen.io/jannypie/pen/DcHdo" title="Quizzie in CSS/JS">Quizzie in CSS/JS</a></li>
      </ul>
    </li>
    <li>Art Works:
      <ul>
        <li><a href="/portfolio/verisimilitude-sylva/">Verisimilitude Sylva</a></li>
        <li><a href="/portfolio/wanderlust/">Wanderlust</a></li>
      </ul>
    </li>
  </ul>
</nav>