<section class="skills_section">
  <div class="skills">
    <ul class="skills_list accordion">
      <li>
        <h4 class="skills_title">UI/UX Design</h4>
      </li>
      <li>Research</li>
      <li>Wireframes</li>
      <li>Prototypes</li>
      <li>Branding</li>
      <li>Graphic Design</li>
      <li>Typography</li>
      <li>User testing</li>
    </ul>

    <ul class="skills_list accordion">
      <li>
        <h4 class="skills_title">Front-End</h4>
      </li>
      <li>
        <input type="checkbox" id="item1" value="">
        <label for="item1">HTML/HTML5</label>
        <ul class="no-bullets">
          <li>Semantic DOM</li>
          <li>Markdown</li>
          <li>HAML,YAML</li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="item2" value="">
        <label for="item2">CSS/CSS3</label>
        <ul class="no-bullets">
          <li>Sass/Scss</li>
          <li>Less</li>
          <li>BEM</li>
          <li>OOCSS</li>
          <li>SVG</li>
          <li>Animations</li>
          <li>Transitions</li>
          <li>Perspective</li>
          <li>Browser support</li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="item3" value="">
        <label for="item3">JavaScript</label>
        <ul class="no-bullets">
          <li>AJAX</li>
          <li>JSON</li>
          <li>Animations</li>
          <li>Validations</li>
          <li>Coffeescript</li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="item4" value="">
        <label for="item4">Libraries</label>
        <ul class="no-bullets">
          <li>jQuery</li>
          <li>Modernizr</li>
          <li>Gulp</li>
          <li>Grunt</li>
          <li>Angular</li>
          <li>Backbone</li>
          <li>Ember</li>
          <li>D3</li>
          <li>Underscore</li>
          <li>Handlebars</li>
          <li>Moustache</li>
          <li>Gulp/Grunt</li>
          <li>
            <input type="checkbox" id="item8" value="">
            <label for="item8">Package Managers</label>
            <ul class="no-bullets">
              <li>npm</li>
              <li>Homebrew</li>
              <li>Ruby Gems</li>
              <li>Composer</li>
              <li>Bower</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Performance</li>
      <li>Accessibility</li>
      <li>Responsive Web Design</li>
      <li>Analytics</li>
      <li>SEO</li>
    </ul>

    <ul class="skills_list accordion">
      <li>
        <h4 class="skills_title">Back-End</h4>
      </li>
      <li>
        <input type="checkbox" id="item5" value="">
        <label for="item5">Ruby</label>
        <ul class="no-bullets">
          <li>Rails</li>
          <li>Sinatra</li>
          <li>Rspec</li>
          <li>Active Record</li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="item6" value="">
        <label for="item6">PHP</label>
        <ul class="no-bullets">
          <li>Laravel</li>
          <li>Wordpress</li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="item7" value="">
        <label for="item7">Databases</label>
        <ul class="no-bullets">
          <li>Designing schema</li>
          <li>SQL/NoSQL</li>
          <li>SQLite</li>
          <li>Postgres</li>
          <li>MongoDB</li>
        </ul>
      </li>
      <li><input type="checkbox" id="item9" value="">
        <label for="item9">Automation</label>
        <ul class="no-bullets">
          <li>Gulp</li>
          <li>Grunt</li>
          <li>Vagrant</li>
        </ul>
      </li>
      <li>TravisCI</li>
      <li>OAuth integration</li>
    </ul>

    <ul class="skills_list accordion">
      <li>
        <h4 class="skills_title">Additional</h4>
      </li>
      <li>Agile Workflow</li>
      <li>OO Programming</li>
      <li>Version Control</li>
      <li>Git/SVN</li>
      <li>APIs/REST</li>
      <li>Unit Testing/TDD</li>
      <li>VMWare</li>
    </ul>
  </div>
</section>
