.featured {
  margin-bottom: 4em;
  position: relative;
}
.page .featured {
  display: inline-block;
  max-width: 45%;
  margin-right: 2%;
  vertical-align: top;
}

.featured p {
  margin-top: 0;
}
.featured img {
  width: 100%;
}
a.featured-text {
  @extend .button;
  color: $gray;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.3);
}
.post-img {
  max-height: 20em;
  display: block;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  overflow: hidden;
}
.post-img:hover {
  height: 100%;
  max-height: 24em;
}

.page h1 {
  margin: 2em auto;
}

.page img {
  margin-bottom: 2em;
}


#view-all-entries {
  margin-top: 2em;
}

// SPECIFIC ARTICLES
article h2:first-of-type {

}
#anf-rwd-vid {
  height: 9em;
}