.featured {
  margin-bottom: 4em;
}
.featured p {
  margin-top: 0;
}
.featured img {
  width: 100%;
}
.post-img {
  max-height: 10em;
  display: block;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  overflow: hidden;
}
.post-img:hover {
  height: 100%;
  max-height: 25em;
}

.page h1 {
  margin: 2em auto;
}

.page img {
  margin-bottom: 2em;
}


#view-all-entries {
  margin-top: 2em;
}

// SPECIFIC ARTICLES
article h2:first-of-type {

}
#anf-rwd-vid {
  height: 9em;
}