@font-face {
  font-family: "Source Sans Pro Light";
  font-style: normal;
  font-weight: 300;
  src: url("../font/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"),  url("../font/SourceSansPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Pro Light Italic";
  font-style: normal;
  font-weight: 300;
  src: url("../font/SourceSansPro-LightItalic.eot?#iefix") format("embedded-opentype"),  url("../font/SourceSansPro-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../font/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"),  url("../font/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Italic";
  font-style: Italic;
  font-weight: 400;
  src: url("../font/SourceSansPro-Italic.eot?#iefix") format("embedded-opentype"),  url("../font/SourceSansPro-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../font/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"),  url("../font/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("../font/Merriweather-Light.eot?#iefix") format("embedded-opentype"),  url("../font/Merriweather-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Merriweather-Regular.eot?#iefix") format("embedded-opentype"),  url("../font/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: Italic;
  font-weight: 400;
  src: url("../font/Merriweather-Italic.eot?#iefix") format("embedded-opentype"),  url("../font/Merriweather-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Merriweather-Bold.eot?#iefix") format("embedded-opentype"),  url("../font/Merriweather-Bold.ttf") format("truetype");
}
