header {
  background-image: url(/images/field-bg-480-low.png);
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  margin-top: 0;
  height: 100%;
  max-height: 450px;
  position: relative;
  overflow: hidden;
}
header {
  background-image: url(/images/field-bg-480.jpg);
}
header h1 a, header h1 a:visited {
  color: whitesmoke;
  border-bottom: 0;
  text-shadow: 0px 0px 2px rgba(150,150,150, 1);
}
header a:hover, nav a:hover {
  text-decoration: none;
  background-color: transparent;
}
header h1 {
  margin-top: 50%;
  font-size: 3em;
}
header .subtitle {
  display: inline-block;
  background: rgba(250,250,250,0.8);
  padding: 0.3em 1em 0.25em;
  margin: 0 auto;
  color: #464f61;
  font-size: 1.5em;
}

/* Posts and Pages */
.page header, .post header {
  max-height: 50%;
}
.post header h1, .page header h1 {
  margin-top: 15%;
  font-size: 3em;
  mix-blend-mode: screen;
}