header {
  background: $header-bg url(/images/yellow-field-480.jpg) no-repeat right top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  margin-top: 0;
  height: 100%;
  max-height: 450px;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(255,242,128,0);
    animation-duration: 1s;
    animation-name: fadein;
  }
}
@keyframes fadein {
  from {
    background-color: rgba(255,242,128,1);
  }
  to {
    background-color: rgba(255,242,128,0);
  }
}
header h1 {
  margin-top: 50%;
  font-size: 3em;
  text-shadow: 0px 0px 2px rgba(99, 57, 15, 0.8);
}
header h1 a, header h1 a:visited {
  color: whitesmoke;
  border-bottom: 0;
}
header a:hover, nav a:hover {
  text-decoration: none;
  background-color: transparent;
}
header .subtitle {
  display: inline-block;
  background: rgba(250,250,250,0.8);
  padding: 0.5em 1em;
  margin: 0 auto;
  color: #464f61;
  font-size: 1.5em;
}

/* Posts and Pages */
.page header, .post header, .gallery header {
  max-height: 50%;
}
.post header h1, .page header h1, .gallery header {
  margin-top: 15%;
  font-size: 5em;
}
