header {
  background: $header-bg url(/assets/images/geometric-300.jpg) no-repeat right top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  margin-top: 0;
  height: 100%;
  max-height: 450px;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(255,242,128,0);
    animation-duration: 1s;
    animation-name: fadein;
  }
}
@keyframes fadein {
  from {
    display: block;
    background-color: rgba(255,242,128,1);
  }
  to {
    display: none;
    background-color: rgba(255,242,128,0);
  }
}

// background-blend animation
header {
  -webkit-animation-name: header-color; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 20s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  animation-name: header-color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-color: $teal;
  background-blend-mode: screen;
}

@-webkit-keyframes header-color {
  0% {background-color: $teal;}
  20% {background-color: $green;}
  40% {background-color: $tangerine;}
  60% {background-color: $blue;}
  80% {background-color: $pink;}
  100% {background-color: $teal;}
}

@keyframes header-color {
  0% {background-color: $teal;}
  20% {background-color: $green;}
  40% {background-color: $tangerine;}
  60% {background-color: $blue;}
  80% {background-color: $pink;}
  100% {background-color: $teal;}
}

header h1 {
  margin-top: 50%;
  font-size: 3em;
  text-shadow: 0px 1px 2px rgba(0, 0, 15, 0.9);

}
header h1 a, header h1 a:visited {
  color: whitesmoke;
  border-bottom: 0;
}
header a:hover, nav a:hover {
  text-decoration: none;
  background-color: transparent;
}
header .subtitle {
  display: inline-block;
  background: rgba(250,250,250,0.9);
  padding: 0.5em 1em;
  margin: 0 auto;
  color: #464f61;
  font-size: 1.5em;
}

/* Posts and Pages */
.page header, .post header, .gallery header {
  max-height: 50%;
}
.post header h1, .page header h1, .gallery header {
  margin-top: 15%;
  font-size: 5em;
}
