/* Layout Styles */
html, body {
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

header, footer, section {
  width: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: $body-width;
  overflow: auto;
  padding: 0 0.5em;
}

/* Float Blocks */
.float--right {
  float: right;
  padding-left: 1em;
  margin-bottom: 1em;
}
.float--left {
  float: left;
  padding-right: 1em;
  margin-bottom: 1em;
}
.float--center {
  clear: both;
  margin: 0 auto;
  display: block;
}


/* Typography Styles */
body {
  color: $near-black;
  font-family: 'Oxygen', sans-serif;
  font-size: $spacing;
  font-weight: 300;
  line-height: $spacing*1.5;
}
p {
  margin-top: 0;
  margin-bottom: $spacing;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing/2;
  font-weight: 400;
  line-height: 1em;
}
h1.title {
  font-size: $spacing*4;
}
h1 {
  font-weight: bold;
}
h1, h2 {
  font-size: $spacing*1.75;
  margin-bottom: $spacing*2;
}
h3 {
  font-size: $spacing*1.15;
}
h4, h5, h6 {
  font-size: $spacing;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
}

a {
  font-weight: 400;
  text-decoration: none;
}


/* Color Styles */
body {
  color: $near-black;
}
a, a:visited {
  color: $dark-teal;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}
a:hover {
  color: $teal;
  text-decoration: underline;
}
[class*="icon-"]:hover {
  color: $teal;
}

.button, .button:visited {
  background: rgba(250,250,250,0.9);
  border: 1px solid $light-gray;
  color: $gray;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1em;
  -webkit-transition: background 300ms, color 300ms, border 300ms;
  -moz-transition: background 300ms, color 300ms, border 300ms;
  transition: background 300ms, color 300ms, border 300ms;
}
.button:hover {
  background: $teal;
  border: 1px solid $teal;
  color: #fff !important;
  text-decoration: none;
}
.button.small {
  padding: 0.5em 1em;
}
.button.inline {
  display: inline-block;
}
.button.special {
  text-align: center;
  text-transform: uppercase;
}

/* Special General Typography Styles */
.comment {
  color: $light-gray;
  font-size: 300mem;
  font-weight: 300;
}
.meta {
  font-size: 0.9em;
  color: #6E7881;
  display: block;
}
.accessible {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.success {
  color: $green;
}
.alert {
  color: $orange;
}
.error {
  color: $red;
}

// Images
img, video {
  max-width: 100%;
}

// Blockquotes
code {
  background: #ddd;
  padding: 0.25em 0.5em;
  border: 1px solid silver;
}
pre code, blockquote {
  background: #ddd;
  padding: 1em;
  line-height: 1.5em;
  word-wrap:break-word;
  border: 1px solid silver;
  display: block;
  text-align: left;
  margin: 0;
}
blockquote {
  padding: 2.5em 1em;
  position: relative;
}
blockquote:before, blockquote:after {
  content: '';
  display: block;
  font-size: 5em;
  font-color: silver;
  position: absolute;
  color: #aaa;
}
blockquote:before {
  top: 0.3em;
  left: 0.3em;
}
blockquote:after {
  top: 0.3em;
  right: 0.3em;
}
blockquote .meta, .post blockquote .meta {
  display: block;
  text-align: right;
  margin: 0;
}

#intro {
  background: $dark-teal;
  color: #fff;
  padding: 2em 0;
  overflow: auto;
  margin-bottom: 2em;
}

// Lists
.no-bullets {
  list-style-type: none;
  margin: 0;
}

.accordion {
  list-style-type: none;
  margin: 0;
  padding: 0;
  input[type="checkbox"] {
    display: none;
  }
  label {
    color: $pink;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 1.5em;
    &:before {
    	content: "\e602";
      font-family: 'icomoon';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1.5;
      display: block;
      position: absolute;
      left: 0;
      transform: rotate(0deg);
      transition: all 300ms linear;
    }
  }
  input:checked + label:before {
    transform: rotate(180deg);
  }
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  input ~ ul {
    line-height: 0em;
    opacity: 0;
    transition: opacity 300ms ease, line-height 300ms linear;
    overflow: hidden;

  }
  input:checked ~ ul {
    line-height: 1.5em;
    opacity: 1;
  }
}

.flex-container,
.skills {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 540px) {
    flex-direction: row;
  }
  * {
    flex-grow: 1;
  }
}
.skills_list {
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.skills_title {
  padding-bottom: 0.5em;
  border-bottom: 4px solid transparent;
}
.skills_list:nth-child(1) .skills_title {
  border-bottom-color: $teal;
}
.skills_list:nth-child(2) .skills_title {
  border-bottom-color: $green;
}
.skills_list:nth-child(3) .skills_title {
  border-bottom-color: $tangerine;
}
.skills_list:nth-child(4) .skills_title {
  border-bottom-color: $pink;
}
