/* ============================
Main Menu
=============================== */
nav {
    padding: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul, nav li {
  list-style: none;
  white-space: nowrap;
}
nav li {
  display: inline-block;
}
nav li a, nav li a:visited {
  @extend .button;
}
