---
layout: "default"
title: "Jan Dennison | Dev Bootcamp : Columbus, OH Localhost Pilot Program"
meta-description: "Dev Bootcamp : Columbus, OH Localhost Pilot Program blog by Jan Dennison"
meta-robots: "noodp, noydir"
---
<section class="">
  <h1>Dev Bootcamp : Columbus, OH Localhost Pilot Program</h1>
  {% for post in site.posts %}
    {% if post.categories contains 'dbc' %}
    <article class="featured-post dbc-blog">
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      {{ post.meta-description }}
    </article><!-- end row -->
    {% endif %}
  {% endfor %}
</section>