<section class="section section--beautiful">
  <div class="column copy-column">
    <h3 class="title">Beautiful</h3>
    <p class="copy">Whether it's designing mock ups in Sketch, working from Photoshop comps from a designer, or coding directly in the browswer, I love to craft beautiful, engaging experiences.</p>
    <p class="copy">I believe the role of design in digital creations is to connect visitors with important content in an unobtrusive, empowering way.</p>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Skills</h4>
    <ul class="no-bullets">
      <h5 class="list-heading">User Experience</h5>
      <li>Design sense</li>
      <li>Graphic design</li>
      <li>Web design</li>
      <li>User Research</li>
      <li>Wireframes</li>
      <li>Styleguides</li>
      <li>Prototypes</li>
      <li>Interactions</li>
      <h5 class="list-heading">Digital Optimization</h5>
      <li>SEO</li>
      <li>Social media</li>
      <li>Digital Marketing</li>
      <li>Branding</li>
    </ul>

  </div>
  <div class="column list-column">
    <h4 class="subtitle">Tools</h4>
    <ul class="no-bullets">
      <h5 class="list-heading">Design</h5>
      <li>Sketch, Photoshop</li>
      <li>Balsamiq, wireframe.it</li>
      <li>Codepen.io/jannypie</li>
      <li>Browser Dev Tools</li>
      <h5 class="list-heading">Code</h5>
      <li>HTML</li>
      <li>CSS, Scss</li>
      <li>CSS Animations, Parallax</li>
      <li>SVG images</li>
      <li>JavaScript, jQuery</li>
      <li>Ruby, Rails</li>
      <li>PHP, Laravel</li>
      <li>Wordpress</li>
    </ul>
  </div>
</section>
