<section class="section section--responsive">
  <div class="column copy-column">
    <h3 class="title">Responsive</h3>
    <p class="copy">Modern hardware and software are challenging developers to think outside the page, a reference to paper constraints that the digital world just doesn't have. Future clients will need to deliver content to audiences in imaginative ways, and the best
      approach to doing so is coding with a content-first strategy.</p>
    <p class="copy">Modular components, appropriately-scoped styling and a focus on flexability are needed building blocks for applications and websites from a single view to complex systems.</p>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Skills</h4>
    <ul class="no-bullets">
      <li>CSS Flexbox, CSS Grids</li>
      <li>BEM, Atomic naming conventions</li>
      <li>Mobile-first design and development</li>
      <li>Cross-browser testing</li>
      <li>Media queries</li>
    </ul>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Tools</h4>
    <ul class="no-bullets">
      <!-- <h5 class="list-heading">Design
</h5> -->
      <li>Device labs</li>
      <li>Browser/device simulators</li>
      <li>Bootstrap, Atomic, responsive frameworks</li>
      <li>fitvids.js</li>
    </ul>
  </div>
</section>
