<section class="section section--more">
  <div class="column copy-column">
    <h3 class="title">MORE</h3>
    <ul class="no-bullets">
      <li><span class="icon-heart-empty"></span>Highly empathetic, inclusive, team-oriented</li>
      <li><span class="icon-heart-empty"></span>Value integrity and transparency</li>
      <li><span class="icon-heart-empty"></span>Easily distill key information from diverse sources</li>
      <li><span class="icon-heart-empty"></span>Creative, artistic, fun-loving</li>
    </ul>

    <!-- Link Buttons -->
    {% include_relative _includes/reference_links.html %}

  </div>
  <div class="column list-column">
    <h4 class="subtitle">Skills</h4>
    <ul class="no-bullets accordion">
      <li>
        <input type="checkbox" id="item4" value="">
        <label for="item4">Libraries</label>
        <ul class="no-bullets">
          <li>jQuery, UI</li>
          <li>Modernizr</li>
          <li>Angular</li>
          <li>Backbone</li>
          <li>Ember</li>
          <li>D3</li>
          <li>Underscore</li>
          <li>Handlebars</li>
          <li>Moustache</li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="item7" value="">
        <label for="item7">Databases</label>
        <ul class="no-bullets">
          <li>Designing schema</li>
          <li>SQL/NoSQL</li>
          <li>SQLite</li>
          <li>Postgres</li>
          <li>MongoDB</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="column list-column">
    <h4 class="subtitle">Tools</h4>
    <ul class="no-bullets accordion">
      <li><input type="checkbox" id="item9" value="">
        <label for="item9">Automation</label>
        <ul class="no-bullets">
          <li>NPM</li>
          <li>Gulp</li>
          <li>Grunt</li>
          <li>Vagrant</li>
          <li>Composer</li>
          <li>Continuous Integration</li>
        </ul>
      </li>
      <li><input type="checkbox" id="item10" value="">
        <label for="item10">Process</label>
        <ul class="no-bullets">
          <li>Git, SVN</li>
          <li>Agile</li>
          <li>Scrum</li>
          <li>Kanban</li>
          <li>Iteration</li>
          <li>Sprints</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
