<section class="section section--performant">
  <div class="column copy-column">
    <h3 class="title">Fast</h3>
    <p class="copy">Speed is becoming the most important aspect of successful websites today. Visitors stay longer and websites see greater conversions when pages load quickly and interactions are swift.</p>
    <p class="copy">Performant products need optimized and validated code behind them and an awareness of the size and complexity of pages delivered to users.</p>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Skills</h4>
    <ul class="no-bullets">
      <li>Valid &amp; semantic HTML</li>
      <li>CSS &amp; Specificity</li>
      <li>Responsive Images</li>
      <li>Page Load</li>
      <li>Javascript</li>
      <li>AJAX, JSON</li>
      <li class="li--margin-bottom">REST</li>
    </ul>
    <h4 class="subtitle">Tools</h4>
    <ul class="no-bullets">
      <li>Code validators</li>
      <li>Image compression</li>
      <li>Code Minification</li>
      <li>CDN</li>
      <li>Page Speed, YSlow</li>
      <li>Postman</li>
    </ul>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Experience</h4>
    <ul class="no-bullets">
      <li class="li--margin-bottom">Raised eCommerce site YSlow score by implementing a Javascript compiling &amp; minifying build process.</li>
      <li>Developed parallax marketing experience using dynamic image loading, reaching 60fps scroll rate.</li>
    </ul>
  </div>
</section>
