<section class="section section--accessible">
  <div class="column copy-column">
    <h3 class="title">Inclusive</h3>
    <p class="copy">Often a misunderstood and mis-applied feature, accessibility is nonetheless crucial to connect with every user possible. Empathy, research, and attention to detail top the list of skills needed to bring content to users outside the realm of our own
      experiences.
    </p>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Skills</h4>
    <ul class="no-bullets">
      <h5 class="list-heading">Understanding</h5>
      <li>Font Legibility</li>
      <li>Color Contrast</li>
      <li>ARIA Attributes</li>
      <li>Site navigation</li>
      <li>Image alternatives</li>
      <li>Color Blindness</li>
      <li>Hand/Eye Mobility</li>
      <li>Delayed Cognition</li>
    </ul>
  </div>
  <div class="column list-column">
    <h4 class="subtitle">Tools</h4>
    <ul class="no-bullets">
      <h5 class="list-heading">Guidelines</h5>
      <li>W3 Consortium</li>
      <li>WCAG 2.0</li>
      <li>Section 508</li>
      <li>WAI-ARIA</li>
      <li>WAVE by AIM</li>
      <h5 class="list-heading">Technology</h5>
      <li>Voice Over</li>
      <li>Color Testing</li>
      <li>Contrast Testing</li>
      <li>Adaptive Equipment</li>
      <li></li>
    </ul>
  </div>
</section>
