<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body class="home">
      {% include header.html %}
      <section id="intro">
        <div class="container">
          <div class="col-third">
            <img class="hexagon column-third--left" src="images/janstache.png" title="Fo' shizzle I know I have Snoop Ipsum over thizzle" alt="Picture of Janstache">
          </div>
          <div class="col-twothird">
            <h2>Why, hello there.</h2>
            <p class="excerpt">I'm Jan. I'm working to make the world a better place.</p>
            <p class="excerpt">Began as a scientist, continued as an artist, pursued programming. I use these skills to span UX Design and Web Development.</p>
            <p class="excerpt">I do not actually have a mustache.</p>
            <!-- <p><a href="/imlooking.html" class="button special">I'm available for hire!</a></p> -->
          </div>
        </div>
      </section>
      <main class="container">
        {{ content }}
      </main><!-- /container -->
      {% include footer.html %}
    </body>
</html>
